<!-- *** SLIDER STARTS *** -->
  <div class="fullwidthbanner-container" style="visibility:hidden">
    <div class="fullwidthbanner">
      <ul>


      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">

        <img src="http://placehold.it/1400x700" alt="">

        <div class="caption sfb cap_1 style4"  data-start="800">We are town are</div>
        <div class="caption sfb cap_2 style4"  data-start="1300">you ready?</div>
        <div class="caption sfb cap_3 small_black"  data-start="1700">Create great websites with this template!</div>

      </li>

      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">

        <img src="http://placehold.it/1400x700" alt="">

        <div class="caption sfb cap_1 style4"  data-start="800">The art and sciens</div>
        <div class="caption sfb cap_2 style4"  data-start="1300">of theme creation</div>
        <div class="caption sfb cap_3 small_black"  data-start="1700">This is a very cool caption</div>

      </li>

      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">

        <img src="http://placehold.it/1400x700" alt="">

        <div class="caption sfb cap_1 style4"  data-start="800">Modern and clean</div>
        <div class="caption sfb cap_2 style4"  data-start="1300">html template</div>
        <div class="caption sfb cap_3 small_black"  data-start="1700">This template comes with a lot of cool features!</div>

      </li>



      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
  <!-- *** SLIDER ENDS *** -->
