

<!-- *** BLOG START *** -->
<div id="blog" class="section gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page_title">Tickets</h1>
        <h2 class="page_subtitle">Don't miss our events</h2>
        <div class="page_line"></div>
      </div>

      <div class="clear"></div>
      <div class="divider"></div>

      <div class="blog_container">
        <div class="col-sm-4">
          <div class="blog-item">
              <div class="img-container-blog" style="background-image: url(http://placehold.it/500x500);">
                <div class="the-author-img">
                  <img src="images/author.png" alt="">
                </div>
              </div>
              <div class="blog-boddy">
                <div class="the-title"><h1><a href="blog-post.html">Designing user interfaces</a></h1></div>
                <p>Lorem ipsum dolor sit amet, conctetur adipisicing elit. Mollitia sunt id recusandae iure ea beatvelim eum molestias vel hic maiores maxime impedit nesciunt porro sint illo dolores rem.</p>
                <div class="metas">
                  <div class="the-date"><a href="#"><col-sm- class="calendar gray icon"></col-sm->February 28, 2013</a></div>
                  <div class="the-comments"><a href="#"><col-sm- class="comments gray icon"></col-sm->5</a></div>
                  <a href="blog-post.html" class="read_more_small"><i class="fa_icon icon-plus"></i></a>
                  <div class="clear"></div>
                </div><!--metas-->
              </div>
            </div><!--blog-item-->
        </div><!--col-sm-4-->


        <div class="col-sm-4">
          <div class="blog-item">
              <div class="img-container-blog" style="background-image: url(http://placehold.it/500x500);">
                <div class="the-author-img">
                  <img src="images/author.png" alt="">
                </div>
              </div>
              <div class="blog-boddy">
                <div class="the-title"><h1><a href="blog-post.html">Better battery life & performance</a></h1></div>
                <p>Lorem ipsum dolor sit amet, conctetur adipisicing elit. Mollitia sunt id recusandae iure ea beatvelim eum molestias vel hic maiores maxime impedit nesciunt porro sint illo dolores rem.</p>
                <div class="metas">
                  <div class="the-date"><a href="#"><col-sm- class="calendar gray icon"></col-sm->February 28, 2013</a></div>
                  <div class="the-comments"><a href="#"><col-sm- class="comments gray icon"></col-sm->5</a></div>
                  <a href="blog-post.html" class="read_more_small"><i class="fa_icon icon-plus"></i></a>
                  <div class="clear"></div>
                </div><!--metas-->
              </div>
            </div><!--blog-item-->
        </div><!--col-sm-4-->


        <div class="col-sm-4">
          <div class="blog-item">
              <div class="img-container-blog" style="background-image: url(http://placehold.it/500x500);">
                <div class="the-author-img">
                  <img src="images/author.png" alt="">
                </div>
              </div>
              <div class="blog-boddy">
                <div class="the-title"><h1><a href="blog-post.html">Same design as iPhone 5</a></h1></div>
                <p>Lorem ipsum dolor sit amet, conctetur adipisicing elit. Mollitia sunt id recusandae iure ea beatvelim eum molestias vel hic maiores maxime impedit nesciunt porro sint illo dolores rem.</p>
                <div class="metas">
                  <div class="the-date"><a href="#"><col-sm- class="calendar gray icon"></col-sm->February 28, 2013</a></div>
                  <div class="the-comments"><a href="#"><col-sm- class="comments gray icon"></col-sm->5</a></div>
                  <a href="blog-post.html" class="read_more_small"><i class="fa_icon icon-plus"></i></a>
                  <div class="clear"></div>
                </div><!--metas-->
              </div>
            </div><!--blog-item-->
        </div><!--col-sm-4-->



      </div><!--blog-container-->

    </div><!--row-->
  </div><!--container-->
</div>
<!-- *** BLOG START *** -->
